#root {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
  min-width: 80%;
}
.App {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 80%;
  min-width: 100%;
  background-color: #1E1E1E;
}

.header {
  display: flex;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  justify-content: space-around;
}

button {
  background: transparent;
  border: none;
  color: #E0E0E0;
  cursor: pointer;
  font-size: 24px;
}

button:hover {
  color: #8e97cc;
}